.number-bg {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url('../../assets/blueprint.jpg');
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.number-container {
  margin-bottom: 15%;
}

.webcam-container {
  padding: 1rem 4rem;
}

.webcam-video {
  border: 0.5rem solid black;
}

// https://css-loaders.com/dots/
.number-btn {
  margin: 1rem;
  box-shadow: 3px 4px 0 0 #7a7a7a;
  background: #606060 linear-gradient(to bottom, #fcfcfc 5%, #f6f5f5 100%);
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: black;
  padding: 25px 25px;
  text-decoration: none;
  text-shadow: 0 1px 0 #262626;
  z-index: 10;
  font-size: 1.5rem;
  -webkit-tap-highlight-color: transparent;
}

.number-btn:hover {
  background: #c0bfbf linear-gradient(to bottom, #c0bfbf 5%, #f1f0f0 100%);
}
