body {
  font-family: 'VT323', 'Courier New', Courier, monospace;
  overflow: hidden;
}

.app_rotation_prompt {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('assets/attention.jpg') center center;
  background-size: contain;

  p {
    color: #333333;
    padding: 20px;
    font-size: 2rem;
    background-color: rgba(225, 223, 223, 0.7);
  }
}
